@import "variables";
@import "mixins";

@import "normalize";

@import "global/fonts";
@import "global/base";
@import "global/forms";

@import "blocks/page-header";
@import "blocks/container";
@import "blocks/logo";
@import "blocks/main-nav";
@import "blocks/search-field";
@import "blocks/cart-counter";
@import "blocks/intro";
@import "blocks/page-main";
@import "blocks/category";
@import "blocks/featured";
@import "blocks/about";
@import "blocks/btn";
@import "blocks/feedback";
@import "blocks/slider";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/social-link";
@import "blocks/copyright";
@import "blocks/overlay";
@import "blocks/modal";
@import "blocks/modal-form";
@import "blocks/catalog";
@import "blocks/catalog-item";
@import "blocks/media";
@import "blocks/order-form";
@import "blocks/icon";
@import "blocks/has-error";
