$base-font: "Open Sans","Arial", sans-serif;

$base-font-size:10px;
$base-line-height:20px;


$bg-white:#ffffff;
$bg-gray:#444444;
$bg-black:#000000;
$bg-light-gray:#f1f1f1;
$bg-inner:#f9f9f9;
$bg-light-mint:#63d1bb;
$bg-dark-mint:#56c3b2;

$font-white:#ffffff;
$font-black:#000000;
$font-gray:#444444;
$font-light-mint:#63d1bb;

$border-menu:#dfdfdf;
$border-light-gray:#ececec;
$border-dark-gray:#444444;
$border-black:#000000;
$border-error:#f0b1b1;

$mobile-widths-only: 767px;
$break-tablet:768px;
$break-desktop:1150px;

$bg-icon:#d3d2d2;
$bg-icon-hover:#46c1ae;
$active-color:#c7c7c7;
$button-padding: 12px 30px;
$disable-color:rgba($border-dark-gray, 0.3);
