$base-font: "Open Sans","Arial", sans-serif;
$base-font-bold: "Open Sans Bold","Arial", sans-serif;

$base-font-size:10px;
$base-line-height:20px;


$bg-white:#ffffff;
$bg-gray:#444444;
$bg-black:#000000;
$bg-light-gray:#f1f1f1;
$bg-light-mint:#63d1bb;
$bg-dark-mint:#56c3b2;

$font-white:#ffffff;
$font-black:#000000;
$font-gray:#444444;


$border-light-gray:#ececec;
$border-dark-gray:#444444;
$border-black:#000000;

$break-tablet:768px;
$break-desktop:1150px;

$button-padding: 12px 30px;
