$base-font: "Open Sans","Arial", sans-serif;
$base-font-bold: "Open Sans Bold","Arial", sans-serif;
$base-font-size:15px;
$base-line-height:24px;

$xs-font-size:13px;
$s-font-size:14px;
$m-font-size:17px;
$l-font-size:18px;
$xl-font-size:19px;
$xxl-font-size:25px;
$xxxl-font-size:25px;

$s-line-height:20px;
$m-line-height:30px;

$bg-white:#ffffff;
$bg-gray:#444444;
$bg-light-gray:#444444;
$bg-light-mint:#63d1bb;
$bg-dark-mint:#56c3b2;


$font-white:#ffffff;
$font-black:#000000;
$font-gray:#444444;

$border-gray:#ececec;


$white:#ffffff;
$black:#000000;
$border-color:#ececec;
$light-mint-color:#63d1bb;
$dark-mint-color:#56c3b2;
$gray: #444444;
$light-gray:#f1f1f1;


$break-tablet:768px;
$break-desktop:1150px;
