body {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  background-color: $bg-white;
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 600;
}

p, table, blockquote, figure {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: $font-black;
  text-decoration:none;
  display: inline-block;
  font-family: $base-font-bold;
  &:hover{

  }
}

h1{
  font-size: $base-font-size*5.3;
  line-height: $base-line-height*2.85;
  font-family: $base-font-bold;
}

h2{
  font-size: $base-font-size*4.3;
  line-height: $base-line-height*2.5;
  font-family: $base-font-bold;
}
