
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/opensans.woff2) format("woff2"), url(../font/opensans.woff) format("woff");
}

@font-face {
  font-family: "Open Sans Bold";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/opensansbold.woff2) format("woff2"), url(../font/opensansbold.woff) format("woff");
}
