.about {
  padding-top: 22px;
  padding-bottom: 30px;
  position: relative;
  &:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 11.5px;
    background: url("../img/zigzag-line.svg");
    background-size: 19px 11.5px;
    background-repeat: repeat;

    bottom: 0;
    z-index: 2;
  }
}

.about__item{
  width: 260px;
  padding: 15px 0;
}
.about__title {
  font-size: $base-font-size*2.5;
  line-height: $base-line-height*1.5;
  margin:0;
}

.about__icon {
  min-width: 55px;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
}

.about__text {
  font-size: $base-font-size*1.7;
  line-height: $base-line-height;
  font-family: $base-font-bold;
}

@media (min-width:$break-tablet) {
  .about{
    padding: 20px 0;
    &:after{
      position: absolute;
      content: "";
      width: 100%;
      height: 23px;
      background: url("../img/zigzag-line.svg");
      background-size: 38px 23px;
      background-repeat: repeat;

      bottom: 0px;
      z-index: 2;
    }

  }
  .about__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .about__item{
    width: 320px;
    &--01{
      order:1;
    }
    &--02{
      order:3;
    }
    &--03{
      order:5;
    }
    &--04{
      order:2;
    }
    &--05{
      order:4;
    }
    &--06{
      order:6;
    }
  }

  .about__text{
    font-size: $base-font-size*2;
    line-height: $base-line-height*1.2;
  }
  .about__title{
    font-size: $base-font-size*4.3;
    line-height: $base-line-height*5;
  }
}

@media (min-width:$break-desktop){
  .about{
    &:after{
      position: absolute;
      content: "";
      width: 100%;
      height: 34px;
      background: url("../img/zigzag-line.svg");
      background-size: 56px 34px;
      background-repeat: repeat;

      bottom: 0px;
      z-index: 2;
    }
  }

  .about__wrapper{
    padding-left: 175px;
  }
  .about__item{
    width: 350px;
  }
  .about__title{
    padding-left: 175px;
    font-size: $base-font-size*5.3;
    line-height: $base-line-height*5.7;

  }
}
