.about{
  padding: 10px 0;
  outline: 1px solid black;
  &__title{
    outline: 1px solid black;
  }
  &__icon{
    min-width: 55px;
    min-height: 60px;
    margin-top: 10px;
    outline: 1px solid black;
    display: inline-block;
  }
  &__text{
    font-size: $m-font-size;;
    line-height: $s-line-height;
    margin: 0 15% 10px 0;
    font-family: $base-font-bold;
    outline: 1px solid black;

  }
}
