.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  //min-width: 260px;
  padding: $button-padding;
  border: 2px solid $border-dark-gray;
  color: $font-gray;
  text-transform: uppercase;
  font-family: $base-font-bold;
  font-size: $base-font-size*1.7;
  &:hover,
  &--hover {}
  &:active,
  &--active {}
  &--modify {
    &:hover,
    &--hover {}
    &:active,
    &--active {}
  }
}
