.catalog {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width:$break-tablet){
  .catalog{
    margin-top: 78px;
  }
}
@media (min-width:$break-desktop){
  .catalog{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    @include container;
    margin-top: 124px;
  }
}
