.category {
  margin-top: -72px;
  text-align: left;
}

.category__item {
  padding: 0;
}

.category__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 70% 30px 30px;
  color: $font-white;
  font-size: $base-font-size*1.9;
  line-height: $base-line-height*1.2;
  display: block;

  &:active {
    color: rgba($font-white, 0.3);
  }
}

.category__link--first {
  margin-top: 5px;
  background-color: $bg-light-mint;
  background-image: url("../img/icon-interior.svg");
  background-size: 41px 62px;
  background-repeat: no-repeat;
  background-position: 90% center;

  &:hover {
    color: $font-white;
    margin-top: 0;
    padding-bottom: 35px;
  }
}

.category__link--second {
  background-color: $bg-dark-mint;
  background-image: url("../img/icon-toy.svg");
  background-size: 61px 61px;
  background-repeat: no-repeat;
  background-position: 92% center;

  &:hover {
    color: $font-white;
    margin-top: -5px;
    padding-bottom: 35px;
  }
}

.category__list {
  margin: 0;
  padding: 0;
}
@media (min-width:$break-tablet) {
  .category {
    @include container;
    margin-top: -120px;
    display: flex;
  }

  .category__item {
    width: 334px;
  }

  .category__link {
    padding: 30px 70% 31px 33px;
    font-size: $base-font-size*2;
    line-height: $base-line-height*1.5;
    margin-top: 0;
  }

  .category__link--first {
    background-position: 90% 50%;

    &:hover {
      margin-top: -5px;
    }
  }

  .category__link--second {
    background-position: 92% 50%;

    &:hover {
      margin-top: -5px;
    }
  }
}

@media (min-width:$break-desktop) {
  .category {
    margin-top: -121px;
  }

  .category__item {
    width: 525px;
  }

  .category__link {
    padding: 26px 70% 31px 36px;
  }
}
