.contacts {
  padding: 33px 0;
}

.contacts__wrapper {
  display: table;
  font-size: $base-font-size*1.5;
  line-height: $base-line-height*1.5;
}

.contacts__title--small {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.contacts__item {
  width: 260px;
  display: table-row;
}

.contacts__field {
  display: table-cell;
  padding-top: 27px;
}

.contacts__text {
  display: table-cell;
}

.contacts__link {
  width: 184px;
  display: table-cell;
  font-weight: 500;
  border-bottom: 1px solid $font-light-mint;

  &:hover {
    color: $font-light-mint;
  }

  &:active {
    color: transparentize($font-light-mint, 0.3);
    border-bottom: 1px solid transparentize($font-light-mint, 0.3);
  }
}

.contacts__map {
  position: relative;
  @include container;
  margin-top: 40px;
  margin-bottom: 30px;
}

.contacts__map:after {}

.contacts__btn {
  width: 260px;
}
@media (min-width:$break-tablet) {
  .contacts {
    padding: 60px 0;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }

  .contacts__title {
    margin: 0;
    position: relative;
    font-size: $base-font-size*4.3;
    line-height: $base-line-height*2.5;

    &:after {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      background: url("../img/flag.svg");
      right: 0;
      top: -16px;
    }
  }

  .contacts__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 334px;
    font-size: $base-font-size*1.7;
    line-height: $base-line-height*1.5;
  }

  .contacts__link {
    display: block;
    width: 210px;
    word-wrap: break-word;
  }

  .contacts__text {
    display: block;
    width: 210px;
    word-wrap: break-word;
  }

  .contacts__field {
    display: block;
    padding: 0;
    min-width: 55px;
    margin-right: 24px;
    word-wrap: break-word;
  }

  .contacts__map {
    margin: 52px 0;
  }

  .contacts__btn {
    width: 260px;
    margin: 0 auto;
  }
}
@media (min-width:$break-desktop) {
  .contacts {
    position: relative;
    padding-bottom: 99px;
    padding-top: 138px;
  }

  .contacts__wrapper {
    width: 300px;
    margin-left: 175px;
    margin-right: 50px;
    margin-bottom: 47px;
  }

  .contacts__item {
    margin-bottom: 30px;
  }

  .contacts__title {
    width: 525px;
    padding-left: 175px;
    box-sizing: border-box;
    font-size: $base-font-size*5.3;
    line-height: $base-line-height*2.85;

    &:after {
      left: 64px;
      top: -9px;
    }
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    position: absolute;
    margin: 0;
    top: 72px;
    left: 50%;
  }

  .contacts__btn {
    margin-left: 175px;
  }
}
