.copyright-link{
  display: inline-block;
  vertical-align: middle;
  margin-left: 27px;
  font-size: 0;
  line-height: 0;
}
.copyright-link img{
  vertical-align: middle;
}
@media (min-width:$break-tablet){
  flex-basis: 186px;
}
