.featured {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 11.5px;
    background: url("../img/zigzag-line.svg");
    background-size: 19px 11.5px;
    background-repeat: repeat;
    bottom: 0;
    z-index: 2;
  }
}

.featured__wrapper {
  padding: 24px 0;
}

.featured__description {
  font-size: $base-font-size*1.5;
  line-height: $base-line-height*1.2;
}

.featured__title {
  margin: 5px 0;
  font-size: $base-font-size*2.5;
  line-height: $base-line-height*1.5;
}

.featured__tag {
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.8;
  text-transform: uppercase;
  color: $bg-light-mint;
  font-weight: 700;
}

.featured__description {
  margin-top: 26px;
}

.featured__properties {
  margin: 6px 0 30px;
  border-collapse: collapse;
}

.featured__name {
  padding: 7px 30px 8px 0;
  border-bottom: 1px solid $border-light-gray;
}

.featured__value {
  padding: 7px 30px 8px 0;
  border-bottom: 1px solid $border-light-gray;
}

.featured__img {
  width: 260px;
  height: 315px;
}

.featured__footer {
  padding: 24px 0 20px;
  color: $font-gray;
  text-align: center;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*1.2;
  font-weight: 700;
}

.featured__btn {
  margin-top: 25px;
  width: 260px;
}
@media (min-width:$break-tablet) {
  .featured {
    padding-bottom: 54px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 23px;
      background: url("../img/zigzag-line.svg");
      background-size: 38px 23px;
      background-repeat: repeat;
      bottom: 0;
      z-index: 2;
    }
  }

  .featured__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px;
  }

  .featured__header {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .featured__title {
    font-size: $base-font-size*4.3;
    line-height: $base-line-height*2.5;
  }

  .featured__tag {
    width: 126px;
    text-align: center;
  }

  .featured__description {
    width: 334px;
    margin-top: 45px;
    padding-right: 44px;
    box-sizing: border-box;
    font-size: $base-font-size*1.7;
    line-height: $base-line-height*1.5;
  }

  .featured__properties {
    margin: 36px 0 167px;
    font-size: $base-font-size*1.5;
    line-height: $base-line-height*1.2;
  }

  .featured__img {
    width: 334px;
    height: 404px;
    margin-top: 53px;
  }

  .featured__footer {
    flex-basis: 290px;
    padding: 0;
    margin-top: -115px;
    font-size: $base-font-size*2;
    line-height: $base-line-height*1.2;
  }

  .featured__btn {
    margin-top: 34px;
    width: 100%;
  }
}
@media (min-width:$break-desktop) {
  .featured {
    padding-top: 70px;
    padding-bottom: 80px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 34px;
      background: url("../img/zigzag-line.svg");
      background-size: 56px 34px;
      background-repeat: repeat;
      bottom: 0;
      z-index: 2;
    }
  }

  .featured__wrapper {
    display: block;
    position: relative;
    font-size: $base-font-size*1.7;
    padding-top: 20px;
  }

  .featured__title {
    order: 2;
    font-size: $base-font-size*5.3;
    line-height: $base-line-height*2.85;
    z-index: 1;
  }

  .featured__description {
    margin-left: 175px;
    margin-top: 40px;
    width: 350px;
    padding-right: 58px;
    border: 1px solid transparent;
  }

  .featured__properties {
    margin: 50px 0 105px;
  }

  .featured__img {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 525px;
    height: 636px;
  }

  .featured__footer {
    margin: 0 0 0 175px;
    width: 290px;
    font-size: $base-font-size*2;
  }

  .featured__header {
    justify-content: flex-start;
    margin: 29px 0;
  }

  .featured__tag {
    order: 1;
    width: 170px;
    padding: 0 30px;
    box-sizing: border-box;
  }
}
