.feedback {
  margin: 30px 0;
  border: 1px solid transparent;
  //outline: 2px solid rgba(95, 224, 237, 0.97);
  box-sizing: border-box;
}

.feedback__title {
  font-size: $base-font-size*2.5;
  line-height: $base-line-height*1.5;
}

.feedback__text{
  font-size: $base-font-size*1.5;
  line-height: $base-line-height*1.5;
}

.feedback__author {
  display: block;
}
.feedback__text{
  padding: 24px 0;
}
.feedback__title {
  margin: 0;
  //outline: 2px solid rgba(13, 129, 140, 0.97);
}

.feedback__author-name {
  margin-bottom: 4px;
  font-size: $base-font-size*1.8;
  line-height: $base-line-height*1.2;
  font-style: normal;
  font-family: $base-font-bold;
  //outline: 1px solid black;
}

.feedback__author-tag {
  font-size: $base-font-size*1.8;
  line-height: $base-line-height*1.2;
  font-style: normal;
  font-family: $base-font;
  //outline: 1px solid black;
}
.feedback__btn{
  width: 260px;
}

@media (min-width:$break-tablet){
  .feedback{
    position: relative;
    &:before{
      position: absolute;
      content: "";
      width: 350px;
      height: 457px;
      background: url("../img/feedback.jpg");
      top: 0;
      left: -50px;
    }
  }
  .feedback__wrapper{
    position: relative;
    padding: 77px 0;
  }
  .feedback__title{
    font-size: $base-font-size*4.3;
    line-height: $base-line-height*2.5;
  }
  .feedback__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__author-name{
    margin-bottom: 7px;
  }

  .feedback__list{
    font-size: $base-font-size*1.7;
    line-height: $base-line-height*1.5;
  }
  .feedback__text{
    padding-top: 48px;
    padding-bottom: 57px;
    font-size: $base-font-size*1.7;
    line-height: $base-line-height*1.5;
  }
  .feedback__btn{
    position: absolute;
    width: 175px;
    top: 80px;
    right: 0;
  }
  .feedback__author{
    width: 320px;
    margin-bottom: 0;


  }
}
@media (min-width:$break-desktop){
  .feedback{
    margin-top:64px;
    margin-bottom: 120px;
    &:before{
      left: 0;
    }
  }

  .feedback__wrapper{
    padding: 44px 0;
  }
  .feedback__text{
    padding-top: 18px;
    padding-bottom: 39px;
  }

  .feedback__author{
    width: 500px;
  }
  .feedback__title{
    padding-left: 175px;
    font-size: $base-font-size*5.3;
    line-height: $base-line-height*5.7;
  }
  .feedback__list{
    padding-left: 175px;
  }
}
