.icon {
  display: inline block;
  vertical-align: middle;
  transition: all 0.4s;
}

.icon--search {
  fill: $bg-icon;

  &:hover {
    fill: $bg-light-mint;
  }

  &:active {
    fill: rgba($bg-light-mint, 0.3);
  }
}

.icon--cart {
  fill: $bg-icon;

  &:hover {
    fill: $bg-light-mint;
  }

  &:active {
    fill: rgba($bg-light-mint, 0.3);
  }
}

.icon--feature-1,
.icon--feature-2,
.icon--feature-3,
.icon--feature-4,
.icon--feature-5,
.icon--feature-6 {
  fill: $bg-light-mint;
}

.icon--logo-footer {

  &:hover {
    fill: $bg-icon-hover;
  }

  &:active {
    fill: rgba($bg-light-mint, 0.3);
  }
}

.icon--insta {

  &:hover {
    fill: $bg-icon-hover;
  }

  &:active {
    fill: rgba($bg-light-mint, 0.3);
  }
}

.icon--fb {

  &:hover {
    fill: $bg-icon-hover;
  }

  &:active {
    fill: rgba($bg-light-mint, 0.3);
  }
}

.icon--in {

  &:hover {
    fill: $bg-icon-hover;
  }

  &:active {
    fill: rgba($bg-light-mint, 0.3);
  }
}

.icon--htmlacademy {
  margin-left: 27px;
  fill: $bg-light-mint;

  &:hover {
    fill: $bg-icon-hover;
  }

  &:active {
    fill: rgba($bg-light-mint, 0.3);
  }
}

.icon--video {
  fill: $bg-light-mint;
}

.icon--phone {
  position: absolute;
  top: 15px;
  right: 5px;
  fill: $bg-icon;
}

.icon--mail {
  position: absolute;
  top: 15px;
  right: 0;
  fill: $bg-icon;
}

.icon--play {
  position: absolute;
  content: "";
  cursor: pointer;
  top: calc(50% - 34px);
  left: calc(50% - 49px);
  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}
.icon--interior{
  position: absolute;
  content: "";
  top:20px;
  right: 40px;
}

.icon--toy{
  position: absolute;
  content: "";
  top:20px;
  right: 30px;
}

@media (min-width:$break-tablet) {
  .icon--interior{
    top:30px;
    right: 38px;
  }

  .icon--toy{
    top:35px;
    right: 35px;
  }

  .icon--phone {
    top: 12px;
    right: 25px;
  }

  .icon--mail {
    top: 13px;
    right: 16px;
  }
}

@media (min-width:$break-desktop) {
  .icon--interior{
    top:30px;
    right: 35px;
  }

  .icon--toy{
    top:35px;
    right: 35px;
  }

  .icon--play{
    top: calc(50% - 39px);
    left: calc(50% - 41px);
  }
}
