.icon {
  display: inline block;
  vertical-align: middle; //width:
  //heiht
}
.icon-search{
  width:18px;
  height:19px;
  fill:$bg-icon;
}
.icon-cart{
  width:21px;
  height:18px;
  fill:$bg-icon;
}
.icon-feature-1{
  width:33px;
  height:38px;
  fill:$bg-light-mint;
}
.icon-feature-2{
  width:47px;
  height:27px;
  fill:$bg-light-mint;
}
.icon-feature-3{
  width:34px;
  height:27px;
  fill:$bg-light-mint;
}
.icon-feature-4{
  width:35px;
  height:34px;
  fill:$bg-light-mint;
}
.icon-feature-5{
  width:55px;
  height:23px;
  fill:$bg-light-mint;
}
.icon-feature-6{
  width:33px;
  height:32px;
  fill:$bg-light-mint;
}
.icon-logo-footer{
  width:86px;
  height:35px;
}
.icon-insta{
  width:22px;
  height:21px;
}
.icon-fb{
  width:15px;
  height:29px;
}
.icon-in{
  width:24px;
  height:20px;
}
.icon-htmlacademy{
  width:27px;
  height:34px;
  fill:$bg-light-mint;
}
.icon-video{
  width:46px;
  height:31px;
  fill:$bg-light-mint;
}
