.logo {
  width: 86px;
  //height: 80px;
  //padding: 20px 0;
  //position: absolute;
  display: block;
  margin: 15.5px auto;

  &--footer{
    display: none;
  }
}
@media (min-width:$break-tablet) {
  .logo {
    margin: 19.5px 0;
    &--footer{
      display: block;
      margin: 0;
      position: static;
      flex-basis: 186px;
    }
  }
}

@media (min-width:$break-desktop) {
  .logo {
   margin: 19.5px auto;
   &--footer{
     margin: 0;
   }
  }
}
