.main-nav {
  display: block;
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  background: $bg-white;
}

.main-nav__item {
  border-bottom: 1px solid $border-light-gray;
  border-top: 1px solid white;
  &--extra {
    display: none;
  }
}

.main-nav__link {
  display: block;
  padding: 28px 0;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*1.2;
}
@media (max-width:$mobile-widths-only) {
  .main-nav--closed .main-nav__item:not(:first-child) {
    display: none;
  }
  .main-nav--opened{
    padding-top:78px;
  }
  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .main-nav__toggle {
    position: absolute;
    top: 33px;
    z-index: 4;
    right: calc((100% - 260px)/2);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: $bg-white;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $bg-black;
    box-shadow: 0 7px 0 0 $bg-black, 0 14px 0 0 $bg-black;
  }

  .main-nav--opened .main-nav__toggle {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: $bg-black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::after,
    &:active::before {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }
}
@media (min-width:$break-tablet) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //width: auto;
    background: transparent;
    padding: 0 calc((100% - 668px)/2);
    //border-bottom: 1px solid $border-light-gray;
    box-shadow:  0 -56px 0 0 $bg-inner inset;
    &--inner{
      box-shadow:  0 -56px 0 0 $bg-light-gray inset;
    }
  }
  .main-nav__list:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: darken($border-light-gray,5%);
    top:80px;
    left: 0;
  }



  .main-nav__item {
    border: none;
  }

  .main-nav__item:first-child {
    flex-basis: 300px;
    border-top: 1px solid white;
  }

  .main-nav__item:nth-child(2) {
    order: 6;
    margin-right: 34px;
  }

  .main-nav__item:nth-child(3) {
    order: 7;
    margin-right: auto;
  }
  .main-nav__link{
    font-size: $base-font-size*1.5;
    padding: 14px 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
@media (min-width:$break-desktop) {
  .main-nav__list {
    //justify-content: space-between;
    //padding-right: calc((100% - 1050px)/2);
    //padding-left: calc((100% - 1050px)/2);
    padding: 0 calc((100% - 1050px)/2);
  }
  .main-nav__item:first-child {
    flex-basis: 200px;
    order: 3;
  }

  .main-nav__item:nth-child(2) {
    order: 1;
    margin: 0;
  }

  .main-nav__item:nth-child(3) {
    order: 2;
    margin: 0;
  }
  .main-nav__item:nth-child(4) {
    display: block;
    order: 6;
    margin-right: 60px;
  }
  .main-nav__item:nth-child(5) {
    display: block;
    order: 7;
    margin-right: auto;
  }
  .main-nav__item:nth-child(6) {
    order: 4;
    margin-left: auto;
  }
  .main-nav__item:nth-child(7) {
    order: 5;
  }

  .main-nav__link {
    padding: 28px 0;
    font-size: $base-font-size*1.7;
    &--extra{
      display: block;
      font-size: $base-font-size*1.5;
      padding: 14px 0;
    }
  }
  .main-nav__item:nth-child(2)>.main-nav__link{
    border-right: 1px solid $border-light-gray;
    padding-right: 34px;
  }
  .main-nav__item:nth-child(3)>.main-nav__link{
    padding: 28px 34px;
  }

  .extra-nav__list {

    font-size: $base-font-size*1.5;
  }

  .extra-nav__item {

  }
}
