.media {
  margin-bottom: 60px;
}
  .media__content {
    @include container;
    border: 1px solid $border-light-gray;
  }
  .media__header{
    display: flex;
    padding: 25px;
  }

  .media__title{
    margin-left: 25px;
    font-size: $base-font-size*1.7;
    line-height: $base-line-height*1.2;
    font-family: $base-font-bold;
  }

  .media__video{
    position: relative;
    width: 260px;
    height: 150px;
    &:after{
      position: absolute;
      content: "";
      width:102px;
      height:78px;
      background: url("../img/icon-play.svg");
      top:36px;
      left: 79px;
    }
  }

  .media__description{
    font-size: $base-font-size*1.3;
    line-height: $base-line-height*1.2;
  }

  .media__footer{
   overflow: hidden;
   padding: 25px 34px;
  }
  .media__btn{
    width: 192px;
    margin: 27px auto 9px;
    padding: 12px 24px;
  }

@media (min-width:$break-tablet){
  .media__content{
    display: flex;
    flex-direction: column;
    @include container;
  }

  .media__header{
    order:2;
  }

  .media__video{
    order:1;
    background: rgb(87, 204, 183);
    min-height: 456px;
    width: 668px;//Временно
    &:after{
      top:189px;
      left: 283px;
    }
  }

  .media__footer{
    order:3;
    padding: 0px 40px;
  }

  .media__title{
    //margin-left: 25px;
    font-size: $base-font-size*2;
  }

  .media__header{
    padding:35px 40px 27px;
    align-items: center;
  }

  .media__description{
    font-size: $base-font-size*1.5;
    line-height: $base-line-height*1.5;
  }

  .media__btn{
    width: 100%;
    margin: 37px 0 49px;
  }

}
@media (min-width:$break-desktop){
  .media{
    margin-bottom: 110px;
  }
  .media__content{
    display: block;
    position: relative;
  }
  .media__video{
    position: absolute;
    content: "";
    width: 682px;
    height: 455px;
    top:0;
    left: 0;
  }

  .media__header{
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 60px 14px 760px;

  }
  .media__title{
    padding: 20px 0;
    margin: 0;
  }

  .media__footer{
    padding-right: 60px;
    padding-left: 760px;
  }

  .media__btn{
    width: 100%;
    margin: 44px 0 60px;
  }
}
