.media {
  margin-bottom: 55px;
}

.media__content {
  @include container;
  border: 1px solid $border-light-gray;

  &:hover {
    box-shadow: 0 6px 10px $border-light-gray;
  }

  &:active {
    box-shadow: 0 3px 5px $border-light-gray;
  }
}

.media__header {
  display: flex;
  padding: 7px 33px;
  align-items: center;
}

.media__title {
  margin-left: 25px;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*1.2;
  font-weight: 700;
}

.media__video {
  position: relative;
  width: 260px;
  height: 150px;
  cursor: pointer;
}


.media__video img {
  display: block;
}

.media__description {
  font-size: $base-font-size*1.3;
  line-height: $base-line-height*1.2;
}

.media__footer {
  overflow: hidden;
  padding: 29px 34px;
}

.media__btn {
  width: 192px;
  margin: 27px auto 9px;
  padding: 12px 24px;
}

@media (min-width:$break-tablet) {
  .media__content {
    display: flex;
    flex-direction: column;
    @include container;
  }

  .media__header {
    order: 2;
  }

  .media__video {
    order: 1;
    width: 668px;
    height: auto;

    &::after {
      top: 189px;
      left: 283px;
    }
  }

  .media__footer {
    order: 3;
    padding: 0 40px;
  }

  .media__title {
    font-size: $base-font-size*2;
  }

  .media__header {
    padding: 22px 36px 16px;
    align-items: center;
  }

  .media__description {
    font-size: $base-font-size*1.5;
    line-height: $base-line-height*1.5;
  }

  .media__btn {
    width: 100%;
    margin: 37px 0 49px;
  }
}

@media (min-width:$break-desktop) {
  .media {
    margin-bottom: 106px;
  }

  .media__content {
    display: block;
    position: relative;
    min-height: 455px;
  }

  .media__video {
    position: absolute;
    content: "";
    width: 682px;
    height: auto;
    top: 0;
    left: 0;
  }

  .media__header {
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 60px 14px 760px;
  }

  .media__title {
    padding: 20px 0;
    margin: 0;
  }

  .media__footer {
    padding-right: 60px;
    padding-left: 760px;
  }

  .media__btn {
    width: 100%;
    margin: 47px 0 60px;
  }
}
