.modal{
  width: 320px;
  min-height: 337px;
  top: 0;
  padding: 30px;
  display: none;

  border:1px solid $border-light-gray;
  box-shadow:0 5px 10px $border-light-gray;

  &__title{
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $base-font-bold;

  }
}
