.modal-form__motion {
  font-size: $base-font-size*1.5;
  line-height: $base-line-height*1.5;
}

.modal-form__fields {
  padding: 30px 0;
}

.modal-form__toggle {
  display: inline-block;
  width: 82px;
  height: 52px;
  padding: 12px 0;
  box-sizing: border-box;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*1.5;
  font-weight: 700;
  border: 2px solid $border-light-gray;

  &:hover {
    border: 2px solid rgba($border-dark-gray, 0.3);
  }
}

.modal-form__btn {
  width: 100%;
  background: $bg-light-mint;
  border: none;
  color: $font-white;
}

.modal-form input[type="radio"]:checked+label {
  border: 2px solid $bg-light-mint;
}
.modal-form input[type="radio"]:checked:disabled+label {
  color: $disable-color;
  border: 2px solid $disable-color;
}
.modal-form input[type="radio"]:disabled+label {
  color: $disable-color;
  border: 2px solid $disable-color;
}

@media (min-width:$break-tablet) {
  .modal-form__toggle {
    width: 112px;
  }

  .modal-form__motion {
    font-size: $base-font-size*1.7;
  }
}
