.nav-toggle {
  align-self:flex-end;
  position: relative;
  vertical-align:middle;

  margin: 0;
  padding: 0;
  width: 20px;
  height: 14px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background-color: $white;
  &:focus {
    outline: none;
  }
  & span,
  & span::before,
  & span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $black;
  }
  & span {
    top: 6px;
  }
  & span::before {
    top: -6px;
    content: "";
  }
  & span::after {
    bottom: -6px;
    content: "";
  }
}






/*.nav-toggle span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.nav-toggle span::before,
.nav-toggle span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.nav-toggle span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.nav-toggle span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}*/

/* active state, i.e. menu open */
/*.nav-toggle.active {
  background-color: #cb0032;
}

.nav-toggle.active span {
  background: none;
}

.nav-toggle.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-toggle.active span::before,
.nav-toggle.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}
*/
