.order-form {
  padding-bottom: 30px;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.9;
}

.order-form__group {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 33px;
}

.order-form__label {
  display: block;
  order: -1;
  cursor: pointer;
  color: $bg-black;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.9;
  font-weight: 700;
}

.order-form__title {
  position: relative;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.9;
  color: $bg-light-mint;
  text-transform: uppercase;
  font-weight: 700;
}

.order-form__text {
  height: 50px;
  min-width: 260px;
  border: none;
  box-shadow: 0 2px 0 0 $border-black;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.9;
  color: $font-gray;
  background: transparent;

  &:invalid {
    box-shadow: 0 2px 0 0 $border-error;
  }

  &:valid {
    box-shadow: 0 2px 0 0 $border-black;
  }

  &:active,
  &:focus,
  &:hover {
    box-shadow: 0 2px 0 0 $bg-light-mint;
  }

  &:disabled {
    color: $disable-color;
    box-shadow: 0 2px 0 0 $disable-color;
  }

  &:disabled ~ .order-form__label {
    color: $disable-color;
  }
}

.order-form input[type="tel"]:hover~.icon-phone {
  fill: $bg-light-mint;
}

.order-form input[type="tel"]:active~.icon-phone {
  fill: $bg-light-mint;
}

.order-form input[type="email"]:hover~.icon-mail {
  fill: $bg-light-mint;
}

.order-form input[type="email"]:active~.icon-mail {
  fill: $bg-light-mint;
}

.order-form__wrapper {
  @include container;
}

.order-form__wrapper:not(:only-child) {
  padding-top: 33px;
}

.order-form__wrapper:not(:only-child) .order-form__group {
  padding-top: 0;
}

.order-form__message {
  width: 100%;
  border: none;
  box-shadow: 0 0 0 2px $border-black;
  margin: 25px 0;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.9;
  color: $font-gray;
  padding: 15px;

  &:invalid {
    box-shadow: 0 0 0 2px $border-error;
  }

  &:active,
  &:hover {
    box-shadow: 0 0 0 2px $bg-light-mint;
  }

  &:disabled {
    color: $disable-color;
    box-shadow: 0 0 0 2px $disable-color;
  }
}

.order-form__checkbox {
  display: block;
  position: relative;
  width: 100%;
  margin-left: 62px;
  margin-bottom: 44px;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.9;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid $border-dark-gray;
    box-sizing: border-box;
    left: -62px;
    top: -8px;
  }
}

.order-form__checkbox:hover:before {
  border: 2px solid $bg-light-mint;
  transition: all 350ms;
}

.order-form__checkbox:active:before {
  border: 2px solid $disable-color;
  transition: all 0.4s;
}

.order-form__input:disabled + .order-form__checkbox {
  color: $disable-color;
}

.order-form__input:disabled + .order-form__checkbox:before {
  border: 2px solid $disable-color;
}

.order-form__input:disabled + .order-form__toggle {
  color: $disable-color;
}

.order-form__input:disabled + .order-form__toggle:before {
  border: 2px solid $disable-color;
}

.order-form input[type="radio"]:checked:disabled + label:before {
  background: $disable-color;
}

.order-form input[type="checkbox"]:checked:disabled + label:after {
  border-right: 3px solid $disable-color;
  border-bottom: 3px solid $disable-color;
}

.order-form__toggle {
  display: block;
  position: relative;
  margin-left: 62px;
  margin-bottom: 30px;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*0.9;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $border-dark-gray;
    box-sizing: border-box;
    left: -62px;
    top: -8px;
  }
}

.order-form__toggle:hover:before {
  border: 2px solid $bg-light-mint;
  transition: all 350ms;
}

.order-form__toggle:active:before {
  border: 2px solid rgba($border-dark-gray, 0.3);
  transition: all 0.4s;
}

.order-form input[type="radio"]:checked+label:before {
  background: $bg-light-mint;
  box-shadow: 0 0 0 12px $bg-white inset;
}

.order-form input[type="checkbox"]:checked+label:after {
  position: absolute;
  content: "";
  left: -44px;
  top: 3px;
  width: 5px;
  border-right: 3px solid #333;
  height: 11px;
  border-bottom: 3px solid #333;
  transform: rotate(45deg);
}

.order-form__motion {
  font-size: $base-font-size*1.3;
  line-height: $base-line-height*0.9;
}

.order-form__btn {
  margin: 25px 0;
  width: 100%;
  background: $bg-white;
}

.order-form__footer {
  @include container;
  box-sizing: border-box;
}
@media (min-width:$break-tablet) {
  .order-form__fillset:nth-child(2n) {
    background: $bg-light-gray;
  }

  .order-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 75px 0;
  }

  .order-form__wrapper:not(:only-child) {
    padding-top: 75px;
    padding-bottom: 0;
  }

  .order-form__wrapper:nth-of-type(2) {
    padding-top: 25px;
  }

  .order-form__wrapper:last-child {
    padding-bottom: 75px;
  }

  .order-form__title {
    flex-basis: 167px;
    align-self: flex-start;
  }

  .order-form__group {
    flex-basis: 500px;
    flex-wrap: wrap;
  }

  .order-form__group:first-of-type,
  .order-form__group:only-of-type {
    padding-top: 0;
  }

  .order-form__checkbox {
    flex-basis: 170px;
    margin-left: 80px;
    font-size: $base-font-size*1.9;
    margin-bottom: 60px;

    &::before {
      left: -80px;
      width: 52px;
      height: 52px;
    }
  }

  .order-form__checkbox:nth-last-of-type(1),
  .order-form__checkbox:nth-last-of-type(2) {
    margin-bottom: 0;
  }

  .order-form input[type="checkbox"]:checked + label:after {
    left: -58px;
    width: 10px;
    height: 20px;
  }

  .order-form__toggle {
    margin-bottom: 0;
    margin-left: 80px;
    font-size: $base-font-size*1.9;

    &::before {
      left: -80px;
      width: 52px;
      height: 52px;
    }
  }

  .order-form__toggle:not(:last-of-type) {
    margin-bottom: 60px;
  }

  .order-form__label {
    margin-right: 25px;
    font-size: $base-font-size*1.9;
    line-height: $base-line-height*1.5;
  }

  .order-form__text {
    width: auto;
    flex-grow: 1;
    font-size: $base-font-size*1.9;
  }

  .order-form__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .order-form__message {
    height: 142px;
    margin-top: 0;
  }

  .order-form__motion {
    order: 2;
    font-size: $base-font-size*1.7;
    line-height: $base-line-height*1.5;
  }

  .order-form__btn {
    order: 1;
    width: auto;
  }
}
@media (min-width:$break-desktop) {
  .order-form__wrapper {
    justify-content: flex-start;
  }

  .order-form__title {
    flex-basis: 175px;
    text-align: center;
  }

  .order-form__group {
    flex-basis: 700px;
  }

  .order-form__group:not(:first-of-type) {
    margin-left: 175px;
  }

  .order-form__toggle {
    flex-basis: 700px;
  }

  .order-form input[type="radio"]:checked + label::before {
    box-shadow: 0 0 0 14px #ffffff inset;
  }

  .order-form__checkbox {
    flex-basis: 150px;
  }

  .order-form__checkbox:nth-last-of-type(3) {
    margin-bottom: 0;
  }

  .order-form__footer {
    padding: 0 175px;
  }
}
