.page-header {
  position: relative;
  border: 1px solid transparent;
}

.page-header__top {
  position: relative;
  border-bottom: 1px solid #ececec;
}
@media (min-width:$break-tablet) {
  .page-header {
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 40px;
      background: url("../img/zigzag.svg");
      background-size: 38px 40px;
      background-repeat: repeat;
      bottom: -18px;
      z-index: 2;
    }
  }

  .page-header__top {
    min-height: 0;
  }
}
@media (min-width:$break-desktop) {
  .page-header {
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 34px;
      background: url("../img/zigzag.svg");
      background-size: 56px 34px;
      background-repeat: repeat;
      bottom: -14px;
      z-index: 2;
    }
  }
}
