.page-header {
  //min-height: 362px;/*Временно для сетки*/
  background: rgba(251, 0, 86, 0.22);
  outline: 2px solid rgb(135, 18, 64);
}

.page-header__top {
  min-height: 80px;
  @include clearfix;
  position: relative;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  outline: 2px solid rgb(189, 25, 34);
}

@media (min-width:$break-tablet) {
  .page-header__top {
    min-height: 0;
  }
}
