.search-form{
  padding: 25px 0; /*Временно для сетки*/
  border-bottom:1px solid #ececec;
}
@media (min-width:$break-tablet) {
  .search-form {

  }
}

@media (min-width:$break-desktop) {
.search-form{
  margin-left: auto;
}
}
