.search-field {
  padding: 26px 0 26px 58px;
  display: block;
  font-size: $base-font-size*1.7;
  line-height: $base-line-height*1.2;
}

.search-field svg {
  position: relative;
  right: 24px;
}
@media (min-width:$break-tablet) {
  .search-field {
    font-size: 0;
    line-height: 0;
    padding: 30px 30px 31px;
    border-left: 1px solid $border-light-gray;
  }

  .search-field svg {
    position: static;
  }
}
